* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Poppins', sans-serif; }

.navbar {
  display: flex;
  align-items: center;
  padding: 20px; }

nav {
  flex: 1;
  text-align: right; }

nav ul {
  display: inline-block;
  list-style-type: none; }

nav ul li {
  display: inline-block;
  margin-right: 20px; }

a {
  text-decoration: none;
  color: #555; }

p {
  color: #555; }

.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px; }

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around; }

.col-2 {
  flex-basis: 50%;
  min-width: 300px; }

.container__vector {
  position: relative; }

.container__vector img {
  position: center;
  bottom: 10px;
  right: 0px;
  width: 600px;
  animation: move_vector 6s ease-in-out infinite; }

@keyframes move_vector {
  0% {
    transform: translateY(10px); }
  25% {
    transform: translateY(-10px); }
  100% {
    transform: translateY(10px); } }

.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0; }

.btn {
  display: inline-block;
  background: #ddb279;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px; }

.btn:hover {
  background: #725d42; }

.header {
  background: radial-gradient(#fff, #fde3e3); }

.header .row {
  margin-top: 70px; }

.categories {
  margin: 70px 0; }

.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px; }

.col-3 img {
  width: 100%; }

.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px; }

.col-4 {
  flex-basis: 25%;
  padding: 10px;
  max-width: 1080px;
  margin-bottom: 50px;
  transition: transform 0.5s; }

.col-4 img {
  width: 100%; }

.title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555; }

.title::after {
  content: '';
  background: #725d42;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%); }

h4 {
  color: #555;
  font-weight: normal; }

.col-4 p {
  font-size: 14px; }

.col-4:hover {
  transform: translateY(-5px); }

/*------- offer -------*/
.offer {
  background: radial-gradient(#fff, #fde3e3);
  margin-top: 80px;
  padding: 30px 0; }

.col-2 .offer-img {
  padding: 50px; }

small {
  color: #555; }

/*------- todos los productos --------*/
.row-2 {
  justify-content: space-between;
  margin: 100px auto 50px; }

select {
  border: 1px solid #555;
  padding: 5px; }

select:focus {
  outline: none; }

.page-btn {
  margin: 0 auto 80px; }

.page-btn span {
  display: inline-block;
  border: 1px solid #555;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer; }

.page-btn span:hover {
  background: #fde3e3;
  color: #bf9968; }

/*--------single product details--------*/
.single-product {
  margin-top: 80px; }

.single-product .col-2 img {
  padding: 0px; }

.single-product .col-2 {
  padding: 20px; }

.single-product h3 {
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold; }

.single-product input {
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid #555; }

input:focus {
  outline: none; }

/*--------footer--------*/
.footer {
  background: #fff;
  color: #8a8a8a;
  font-size: 14px;
  width: 100%; }

.footer p {
  color: #8a8a8a; }

.footer h3 {
  color: #555;
  margin-bottom: 20px;
  margin-top: 30px; }

.footer-col-1, .footer-col-2, .footer-col-3 {
  min-width: 250px;
  margin-bottom: 20px; }

.footer-col-1 {
  flex-basis: 30%; }

.footer-col-2 {
  flex: 1;
  text-align: center; }

.footer-col-2 img {
  width: 150px;
  margin-bottom: 20px; }

.footer-col-3 {
  flex-basis: 12%;
  text-align: center; }

ul {
  list-style-type: none; }

.app-logo {
  margin-top: 20px; }

.app-logo img {
  width: 90px; }

.footer hr {
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 0; }

.copyright {
  text-align: center; }

.menu-icon {
  width: 28px;
  margin-left: 20px;
  display: none; }

/*-------- media query for menu --------*/
@media only screen and (max-width: 800px) {
  nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%; }
  nav ul li {
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px; }
  nav ul li a {
    color: #555; }
  .menu-icon {
    display: block;
    cursor: pointer; }
  .row {
    flex-direction: column-reverse;
    margin: 50px 0; }
  .col-2 {
    flex-basis: 100%;
    margin-bottom: 50px; } }

/*--------contact-page--------*/
.form {
  background-color: #fff;
  width: 90%;
  max-width: 400px;
  border-radius: 1em;
  padding: 3.5em 1.5em;
  margin: auto; }

.form__container {
  width: 100%;
  display: grid;
  gap: 1em;
  grid-auto-columns: 100%; }

.form__title {
  text-align: center;
  font-size: 1.9rem;
  margin-bottom: .4em; }

.form__input {
  font-family: inherit;
  font-size: 1rem;
  padding: .8em 1em;
  outline: none;
  border: none;
  border: 1px solid #bbb0b0;
  border-radius: 0.2em; }

.form__input--message {
  resize: none;
  padding: 1.8em 1em;
  margin-bottom: .5em; }

.form__cta {
  font-family: inherit;
  font-size: 1rem;
  background-color: #725d42;
  color: #fff;
  border: none;
  font-weight: 300;
  padding: .7em 0;
  border-radius: .2em;
  cursor: pointer;
  font-weight: 400; }

@media (max-width: 450px) {
  .form {
    padding: 3.5em 1em; } }
